body {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	margin: 0;
}
#app {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

aside#menu {
	min-width: 20%;
	max-width: 20%;
	height: 100vh;
	padding: 1rem;
	margin: 0;
}

#main {
	width: 100%;
	height: 100vh;
	/* flex: 1; */
	padding: 0 1rem;
}

@media print {
	body {
		margin: 0;
	}
}

/* Wrapper for the main 2-column layout */
body > *:not(#footer) {
	display: flex;
}

body > #menu,
body > #main {
	/* align-items: stretch; */
}

.raw {
	border: 0.25rem solid #666;
	min-height: 6rem;
	padding: 1rem;
	max-width: 60%;
	margin: auto;
}

h1 {
	font-size: 2rem;
}

input,
textarea,
select {
	width: 100%;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #999;
	box-sizing: border-box;
}
textarea {
	height: 10rem;
}

button {
	background-color: #ccc;
	border-color: #ccc;
	border-radius: 0.5rem;
	color: black;
	padding: 0.5rem 1rem;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	float: right;
}

button:hover {
	background-color: #bbb;
}

button:active {
	background-color: #aaa;
}

.no-print {
	@media print {
		display: none;
	}
}
